* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {    
    padding: 24px 96px 24px 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: #1f2937;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    padding: 24px 96px 24px 96px;
    display: flex;
    flex-flow: row;
    align-items: center;

    background-color: #1f2937;
}

.hero-content {
    width: 50%;
    margin-right: 3px;
    display: flex;
    flex-flow: column;
    gap: 6px;
}

.hero-title {
    color: #f9faf8;
    font-weight: extra-bold;
    font-size: 48px;
}

.hero-content-paragraph {
    text-align: justify;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    width: 50%;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    padding: 24px 96px 24px 96px;
    display: flex;
    flex-flow: column;
}

.information-title {
    padding: 24px 24px;
    display: flex;
    justify-content: center;
    color: #1f2937;
}

.information-content {
    padding: 24px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.information-one {
    width: 25%;
    display: flex;
    flex-flow: column;
    gap: 6px;
    text-align: center;
}

.information-two {
    width: 25%;
    display: flex;
    flex-flow: column;
    gap: 6px;
    text-align: center;
}

.information-three {
    width: 25%;
    display: flex;
    flex-flow: column;
    gap: 6px;
    text-align: center;
}

.information-four {
    width: 25%;
    display: flex;
    flex-flow: column;
    gap: 6px;
    text-align: center;
}

.quote {
    padding: 24px 96px 24px 96px;
    display: flex;
    flex-flow: column;
    gap: 6px;
    background-color: #e5e7eb;
}

.quote-content {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: light-italic;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.sign-up {
    padding: 24px 96px 24px 96px;
    display: flex;
    flex-flow: row;
}

.sign-up-text {
    width: 75%;
    display: flex;
    flex-flow: column;
    gap: 6px;
    background-color: #3882f6;
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: #3882f6;
}

.footer {
    padding: 24px 96px 24px 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}